p {
    margin: auto;
    margin-top: 20px;
    width: 60%;
}

h2 {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    font-size: xx-large;
}

#tail {
    text-align: right;
}

#logo {
    top: 0;
    right: 20em;
    position: fixed;
    opacity: 20%;
    width: 40em;
}