a {
    display: block;
    margin: 50px;
    text-decoration-line: none;
    color: #195386;
}

a:hover {
    color: #107edf
}

#wrap {
    padding: 5% 10%;
    /* display: flex; */
}

.county {
    width: 500px;
}